<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- External Stylesheets -->
    <link rel="stylesheet" href="movies.css" />
    <link rel="stylesheet" href="../style.css" />

    <!-- Internal CSS -->
    <style>
      @media screen and (max-width: 1024px) {
        .contents .p {
          margin-top: 20px;
          margin-bottom: 20px;
        }

        .contents2 .p2 {
          margin-top: 100px;
        }

        .contents3 .p3 {
          margin-top: 40px;
        }
      }

      @media screen and (max-width: 768px) {
        .contents .p {
          margin-top: 20px;
          margin-bottom: 20px;
        }

        .contents2 .p2 p {
          margin-top: 40px;
        }

        .contents3 .p3 p {
          margin-top: 40px;
        }
      }

      @media screen and (max-width: 540px) {
        header {
          gap: 90px;
          padding-left: 0px;
        }

        .contents .p {
          margin-top: 20px;
          margin-bottom: 0;
        }

        .contents2 .p2 p {
          margin-top: 60px;
          margin-bottom: 20px;
        }

        .contents3 .p3 p {
          margin-top: 0px;
          margin-bottom: 40px;
        }
      }

      @media screen and (max-width: 360px) {
        header {
          gap: 0px;
          padding-left: 0px;
        }

        .contents .p {
          margin-bottom: 10px;
        }

        .contents2 .p2 {
          margin-top: 180px;
          margin-bottom: 0px;
        }
      }
    </style>

    <!-- Title -->
    <title>Madagascar</title>
  </head>

  <body>
    <!-- Body Container -->
    <div class="body-container">
      <!-- Header Section -->
      <section class="one-movies-madagascar">
        <!-- Header -->
        <div class="header-movies">
          <header>
            <!-- Logo -->
            <a href="../main.html">
              <img
                class="logo"
                src="../assets/dreamworks-animation-seeklogo.png"
                alt="DreamWorks Logo"
              />
            </a>

            <!-- Navigation Bar -->
            <div class="navbar">
              <ul>
                <li>
                  <a href="../main.html">Home</a>
                </li>
                <li>
                  <a href="../main.html#movie">Movies</a>
                </li>
                <li>
                  <a href="../main.html#about">About</a>
                </li>
              </ul>
            </div>

            <!-- Icons -->
            <div class="icons">
              <a href="../index.html"
                ><img src="../assets/user.png" alt="User"
              /></a>
              <img src="../assets/menu.png" alt="Menu" id="menu" />
            </div>

            <!-- Off Screen Menu -->
            <div class="off-screen-menu">
              <ul>
                <li>
                  <a href="../main.html">Home</a>
                </li>
                <li>
                  <a href="../main.html#movie">Movies</a>
                </li>
                <li>
                  <a href="../main.html#about">About</a>
                </li>
              </ul>
            </div>
          </header>
        </div>
      </section>

      <!-- Movie Section 1 -->
      <section class="two-movies">
        <!-- Movie 1 -->
        <div class="movie">
          <!-- Contents -->
          <div class="contents">
            <!-- Paragraph Div -->
            <div class="p">
              <!-- Title -->
              <img
                src="../assets/MovieLogo/MadagascarLogo.png"
                alt="Madagascar Logo"
                class="title"
              />
              <!-- Info -->
              <h4>
                <span>2005</span><span><i>PG</i></span
                ><span>1hr 26m</span><span>Adventure, Comedy</span>
              </h4>
              <p>
                In New York City, a lion named Alex lives in the Central Park
                Zoo as a star attraction known as the "King of New York". He
                spends time with his friends—Melman, a reticulated giraffe;
                Gloria, a common hippopotamus; and his best friend, Marty, a
                plains zebra, who has grown weary of his daily routine and
                desires to experience the wild. On Marty's tenth birthday, Alex,
                Melman, and Gloria attempt to cheer him up, but a
                still-unsatisfied Marty learns that the zoo's penguins—Skipper,
                Kowalski, Rico, and Private—are trying to escape to Antarctica,
                and promptly follows them out. Marty heads towards Grand Central
                Terminal, as he plans to catch a train to nearby Connecticut.
                Alex, Melman, and Gloria pursue Marty in an attempt to convince
                him to return, only to end up, along with the penguins and
                chimpanzee duo Mason and Phil, at Grand Central, where the
                police officers, firemen and animal control officers subdue
                them. Under pressure from anti-captivity activists, the zoo is
                forced to ship the escaped animals by sea to a nature reserve in
                Kenya. During the trip, the penguins escape their crate and
                hijack the ship, hoping to head to Antarctica, causing the
                crates containing Alex and his friends to fall overboard.
              </p>
            </div>
            <!-- Image -->
            <img src="../assets/Bg/madagascarBg2.jpg" alt="Image" />
          </div>
        </div>
      </section>

      <!-- Movie Section 2 -->
      <section class="three-movies">
        <div class="movie2">
          <div class="contents2">
            <img src="../assets/Bg/madagascarBg3.jpg" alt="Image" />
            <div class="p2">
              <p>
                Upon being washed ashore on Madagascar, the animals come across
                its lemur community. The predatory fossa attack the lemurs, only
                to be scared off by the fearsome appearance of Alex, who
                selfishly blames Marty for the group's predicament and makes
                several attempts to get them back to civilization. Marty finds
                life in Madagascar to be exactly what he was looking for and
                Gloria and Melman soon join him. The lemurs' leader, ring-tailed
                lemur King Julien XIII, leads his subjects into befriending the
                castaways in hopes that Alex's presence will keep the fossa at
                bay, despite protest about Alex's predatory nature from his
                adviser, Maurice, an aye-aye. Seeing what Alex has become and
                how dangerous the wild can be, Marty regrets his decision to
                leave the zoo.
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- Movie Section 3 -->
      <section class="four-movies">
        <div class="movie">
          <div class="contents3">
            <div class="p3">
              <p>
                Having found Antarctica to be inhospitable, the penguins land
                the ship at Madagascar. Seeing the chance to return Alex to New
                York, Marty crosses over to the predator's side and attempts to
                convince Alex to return, but Alex refuses out of fear that he
                will attack Marty again. The fossa attack Marty and though
                Gloria, Melman, and the penguins come to the rescue, they are
                outnumbered. In the last minute, Alex overcomes his predatory
                instincts, rescues his friends, and scares the fossa away from
                the lemur territory permanently. The lemurs regain their respect
                for Alex and the penguins satisfy his hunger by feeding him
                sushi, which he finds better than steak. As the lemurs throw a
                farewell celebration for the foursome, the penguins decide not
                to tell them that the ship has run out of fuel, leaving them
                stranded on the island for the time being.
              </p>
            </div>
            <img src="../assets/Bg/madagascarBg4.jpg" alt="Image" />
          </div>
        </div>
      </section>
    </div>

    <!-- Internal Script -->
    <script>
      // Off Screen Menu
      const hamMenu = document.getElementById("menu");
      const offScreenMenu = document.querySelector(".off-screen-menu");

      // Toggle Off Screen Menu
      hamMenu.addEventListener("click", () => {
        offScreenMenu.classList.toggle("active");
      });
    </script>
  </body>
</html>
